{% extends 'base.html' %}
{% load static %}

{% block content %}
    <img src="{% static 'image/image-about1.jpg' %}" alt="Image About"
         style="object-fit:cover; width:100%; height: 600px">

    <div class="container pt-5">
        <div class="pt-5 text-center">
            <h2 style="color: #C25B56"><b>ที่มา</b></h2>

            <div class="row pt-3">
                <div class="col-xl-2"></div>
                <div class="col-xl-8" style="text-align: justify; text-justify: inter-word; font-size: 18px">
                    <p style="text-indent: 1.5cm">
                        ปัจจุบันความก้าวหน้าทางเทคโนโลยีเกิดการเปลี่ยนเปลงมากมาย ส่งผลถึงการค้าขายสินค้า
                        ที่เปลี่ยนจากขายหน้าร้าน เป็นขายออนไลน์ ซึ่งทำให้เกิดสิ่งที่เรียกว่า ธุรกิจดิจิทัล (Digital
                        Business)
                        คือ การนำเทคโนโลยีต่างๆ
                        เข้ามาพัฒนาธุรกิจที่ทำอยู่เพื่อเพิ่มความสะดวกสบายให้ทั้งผู้ประกอบการและผู้บริโภคในการเลือกซื้อสินค้าหรือบริการต่างๆ
                    </p>
                    <p style="text-indent: 1.5cm">
                        ผู้จัดทำจึงได้ศึกษาธุรกิจดิจิทัลขึ้นมา นั้นก็คือร้านฝากขายโน๊ตบุ๊ค
                        ที่ได้มีการจัดทำเว็บแอพพลิเคชันขึ้นมา
                        เพื่อให้ลูกค้าสามารถฝากขายหรือซื้อสินค้าได้ มีระบบผู้ดูแล ให้สามารถยืนยันข้อมูล ตรวจสอบสินค้า
                        เพิ่ม
                        ลบ
                        แก้ไข ข้อมูลได้ และมีระบบสำหรับการสมัครกับลงทะเบียน เพื่อให้ลูกค้าเข้าสู่ระบบมาใช้งาน
                        ทั้งนี้เพื่อเพิ่มความสะดวกสบายในการซื้อสินค้า ทำให้ประหยัดเวลาไม่เสียเวลาไปซื้อหน้าร้าน
                        ซึ่งทำให้ลูกค้ามีเวลาว่างไปทำประโยชน์อย่างอื่น
                        และการซื้อขายของออนไลน์ทำให้คนรู้จักสินค้ามากยิ่งขึ้น
                    </p>
                </div>
                <div class="col-xl-2"></div>
            </div>
            <div class="pt-5">
                <a type="button" class="btn btn-danger btn-lg rounded-pill col-lg-4" href="{% url 'index' %}">สำรวจ
                    Laptop Consignment Shop</a>
            </div>
        </div>
    </div>
{% endblock %}